@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

body {
    font-family: Cyber;
}